.cabecera {
	background-color: #42413C;
}

.cabecera img {
border-radius : 50%;
width : 200px;
height : 300px;
}

.cuerpo {
width: 960px;
background-color: yellow;
}

.titulo{
	background-color: blue;
	padding-bottom: 2px;
}

.texto {
	background-color: #42413C;
	padding-bottom: 2px;
}
